<aside>
	<nav id="side_nav">
		<a id="top_link" href="#" class="fa fa-arrow-up"></a>

		{% assign posts = site.categories[language] | sort: 'date' %}
		{% for post in posts %}
			{% if post.id == page.id %}
				{% if forloop.first == true %}
					<a class="disabled fa fa-arrow-left"></a>
				{% else %}
					{% assign i = forloop.index0 | minus: 1 %}
					{% assign p = posts[i] %}
					<a class="fa fa-arrow-left" href="{{ p.url }}" title="{{ p.title }}"></a>
				{% endif %}

				{% if forloop.last == true %}
					<a class="disabled fa fa-arrow-right"></a>
				{% else %}
					{% assign p = posts[forloop.index] %}
					<a class="fa fa-arrow-right" href="{{ p.url }}" title="{{ p.title }}"></a>
				{% endif %}
			{% endif %}
		{% endfor %}
	</nav>
</aside>