<footer>

	<nav>
		{% for p in site.pages %}
			{% if p.group == 'navigation' and (p.language == 'all' or p.language == language) %}
				{% if p.language == 'all' %}
					{% assign title = p.title[language] %}
				{% else %}
					{% assign title = p.title %}
				{% endif %}
				{% if page.url == p.url %}
					<span>{{ title }}</span>
				{% else %}
      				<a href="{{ p.url | remove: 'index.html' }}">{{ title }}</a>
      			{% endif %}
      		{% endif %}
		{% endfor %}
	</nav>

	&copy; {{ site.time | date: '%Y' }},  <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a>
</footer>