@charset 'utf-8';

/************ reset ************/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

audio, canvas, video { display: inline-block; }

pre { white-space: pre-wrap; }

audio:not([controls]) { display: none; height: 0; }


/************ global ************/
a { text-decoration: none; color: #666A6A; }
a:hover { color: #052124; }
a.disabled, a.disabled:hover { color: #999; }

html { background: #44555E; height: 100%; }

body {
	margin: 10px auto;
	width: 960px;
	background: #BDC4C4;
	color: #434747;
	font: 400 14px/1.8 helvetica, arial, \5b8b\4f53, sans-serif;
}

h1 { font-size: 2em; line-height: 1.5; margin: 0.5em 0 0; }
h2 { font-size: 1.5em; }

section { margin: 20px; }

section:before {
    border: 1px dashed;
    content: '';
    display: block;
}

code {
	font: 400 12px/1.75 Monaco, \5b8b\4f53, sans-serif;
	padding: 0 5px;
	background: #F2F8F2;
	display: inline-block;
	text-indent: 0;	/* p text indent side effect */
}

pre code {
	color: #F8F8F2;
	background: #3A3C42;
	display: block;
	padding: 10px;
	margin: 0 20px;
	border: 0;
}

.highlight pre code {
	white-space: pre-line;
	font-style: italic;
}

.highlight pre code.text {
	white-space: inherit;
	font-style: inherit;
}

table code {
	color: #F8F8F2;
	background: #3A3C42;
}

nav a, nav span {
	margin: 0 10px;
	font-size: 18px;
}

nav span {
	padding-bottom: 5px;
	border-bottom: 5px solid;
}

h2 small, h3 small {
	color: #666A6A;
	vertical-align: super;
	font-size: 0.6em;
}

blockquote {
	font: italic 400 1em/1.5 Monaco, \5b8b\4f53, sans-serif;
	padding: 3px 5px;
	margin: 2em;
	background: #EEE;
	border-left: 10px solid #666;
}

table {
	background: #EEE;
	margin: 1em 2em;
	border-spacing: 0;
	/* border-collapse: collapse; */
	border-top: 1px solid;
	border-left: 1px solid;
}

table td, table th {
	padding: 0.2em 0.5em;
	height: 1em;
	border-bottom: 1px solid;
	border-right: 1px solid;
}

tbody tr:nth-child(2n+1) {
	background: #DDD;
}


/************ header ************/
header.navbar {
	padding: 20px;
	height: 60px;
}

.navbar nav {
	float: right;
	padding-top: 10px;
}

.navbar .brand {
	color: #434747;
	font-size: 24px;
	display: inline-block;
	margin-right: 10px;
}

.tagline {
	color: #688;
	font-size: 16px;
	font-style: italic;
	padding-left: 1em;
}


/************ main ************/
#main, article {
	padding: 0 20px;
	min-height: 600px;
}

.pagination {
	padding: 10px 0;
}

.pagination .next {
	float: right;
}

.posts h2 { margin: 0; }

.content { margin: 20px 10px; }

.content a {
	color: #366;
	font-style: italic;
}

.content a:hover { color: #052124; }

.content>p:lang(zh) {
	text-indent: 2em;
}

body { counter-reset: h2; }
.content h2 { counter-reset: h3; }
.content h3 { counter-reset: h4; }

.content h2:before {
	counter-increment: h2;
	content: counter(h2) ". ";
}

.content h3:before {
	counter-increment: h3;
	content: counter(h2) "." counter(h3) ". ";
}

.content h4:before {
	counter-increment: h4;
	content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}

/************ footer ************/
footer {
	height: 36px;
	padding: 20px;
	background: #312905;
	color: #BFC6C5;
	text-align: center;
}

footer a { color: #BFC6C5; }

footer a:hover { color: #FFF; }


/************ aside ************/
aside {
	position: fixed;
}

#side_nav {
	position: relative;
	left: -100%;
}

#side_nav a {
	color: #BDC4C4;
	font-size: 2em;
	border-top: 5px solid;
	padding-top: 5px;
	display: block;
	text-align: center;
}

#side_nav a.disabled {
	color: #677;
}

/************ tags_box ************/
.tags_box {
	padding: 10px 0;
}

.tags_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	border-radius: 3px;
	border: 1px dashed #CCC;
}

.tags_box a small {
	vertical-align: super;
	font-size: 0.8em;
}

.tags_box a:hover {
	background-color: #E5E5E5;
}


/************ tags ************/
li:target h2, h2:target {
	color: #966;
}


/************ comment ************/
#disqus_thread {
    margin: 20px;
}